 ## Group Operations Tests

In [1]:
import math 
import numpy as np
import pandas as pd

from src.euclidean_algo import gcd
from src.group_operations import *

n = 48

In [2]:
coprimes = find_coprimes(n)
coprimes

array([ 1,  5,  7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47])

In [3]:
mult_table = multiplication_table(coprimes, n)
mult_table

    1   5   7   11  13  17  19  23  25  29  31  35  37  41  43  47
1    1   5   7  11  13  17  19  23  25  29  31  35  37  41  43  47
5    5  25  35   7  17  37  47  19  29   1  11  31  41  13  23  43
7    7  35   1  29  43  23  37  17  31  11  25   5  19  47  13  41
11  11   7  29  25  47  43  17  13  35  31   5   1  23  19  41  37
13  13  17  43  47  25  29   7  11  37  41  19  23   1   5  31  35
17  17  37  23  43  29   1  35   7  41  13  47  19   5  25  11  31
19  19  47  37  17   7  35  25   5  43  23  13  41  31  11   1  29
23  23  19  17  13  11   7   5   1  47  43  41  37  35  31  29  25
25  25  29  31  35  37  41  43  47   1   5   7  11  13  17  19  23
29  29   1  11  31  41  13  23  43   5  25  35   7  17  37  47  19
31  31  11  25   5  19  47  13  41   7  35   1  29  43  23  37  17
35  35  31   5   1  23  19  41  37  11   7  29  25  47  43  17  13
37  37  41  19  23   1   5  31  35  13  17  43  47  25  29   7  11
41  41  13  47  19   5  25  11  31  17  37  23  43  29   1  35   7
43  43  23  13  41  31  11   1  29  19  47  37  17   7  35  25   5
47  47  43  41  37  35  31  29  25  23  19  17  13  11   7   5   1

In [4]:
element_orders = compute_orders(coprimes, n)
element_orders

    order
1       1
5       4
7       2
11      4
13      4
17      2
19      4
23      2
25      2
29      4
31      2
35      4
37      4
41      2
43      4
47      2

In [5]:
order_ocurrence = compute_order_ocurrence(element_orders)
order_ocurrence

   ocurrence
4          8
2          7
1          1